:root {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #17395b;
  background-color: #6cc4ce;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  padding: 0 !important;
  min-height: 100vh;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

